<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
<bean id="companyService" class="hbi.core.exam.service.impl.HapCompanyServiceImpl"></bean>
    <bean id="orderService" class="hbi.core.exam.service.impl.HapOrderServiceImpl"></bean>
    <bean id="customerService" class="hbi.core.exam.service.impl.HapCustomerServiceImpl"></bean>
    <bean id="orderDetailService" class="hbi.core.exam.service.impl.OrderDetailServiceImpl"></bean>
</beans>